* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color:#D9D9D9;
    color: black;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    height: 104px;
}

.sup{
    color: #4F4400;
    position: relative;
    padding-left: 70px;
    padding-top: 18px;
    font-size: 20px;   
}

.navbar {
    padding-right: 70px;
    padding-top: 18px;   
}

.navitems   {
    list-style: none;
    display: flex;
    gap: 30px;
    
}


.navitems a {
    color: #3D600A;
    font-size: 16px;
    line-height: 3;
}





